{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_tax %}
{{ parent() }}

<a href="{{ path('my_plugin_wishlist_add', {'productId': page.product.id}) }} " class="btn10" style="margin:10px"><span>Add to Wish List</span></a>


{% endblock %}
   
